<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.PapIndustries.School_Programme" android:versionCode="1" android:versionName="1.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="School Programme" android:icon="@drawable/logo"></application>
</manifest>